*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-page{
    min-height: 100vh;
    width: 100%;
    background: url(images/6184007.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    
}
.questionner-container{
    height: 90vh;
    width: 750px;
    min-width: 350px;
}

.info-container{
    max-height: 100vh;
    width: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}
.questionner-title{
    color: white;
    text-align: center;
    border-top: 2px solid white;
    padding: 1rem;
}
.questionner-content{
    background: white;
    height: 84vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1rem;
}
.location-container{
    background: rgb(24, 30, 87);
    padding: 1rem 1rem 0 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin-top: 1.9rem;
    border-top: 2px solid white;
}
.contact-info{
    display: flex;
    align-items: center;
    width: 100%;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(0, 174, 255);
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.social-info{
    padding: .8rem 0 1rem 0;
}
.social-info a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin-right: 1rem;
}
iframe{
    height: 300px;
    width: 500px;
}

.a label{
    display: block;
    color: gray;
}
.b label{
    display: block;
    color: gray;
}
.c label{
    display: block;
    color: gray;
}
.a input{
    width: 300px;
    height: 35px;
    color: red;
    outline: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgb(0, 174, 255);
    transition: .5s;
}
.a input:focus{
    border-bottom: 1px solid orangered;
}
.b input{
    width: 300px;
    height: 35px;
    color: rgb(0, 174, 255);
    outline: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgb(0, 174, 255);
    transition: .5s;
}
.b input:focus{
    border-bottom: 1px solid orangered;
}
.c input{
    width: 300px;
    height: 35px;
    color: rgb(0, 174, 255);
    outline: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgb(0, 174, 255);
    transition: .5s;
}
.c input:focus{
    border-bottom: 1px solid orangered;
}
.c select{
    background: white;
    border: 1px solid rgb(0, 174, 255);
    padding: 5px 5px;
    font-size: 1.2rem;
    color: rgb(0, 174, 255);
    transition: .5s;
    width: 300px;
}
.c select:focus{
    background: rgb(0, 174, 255);
    padding: 5px 5px;
    font-size: 1.2rem;
    color: white;
}
.a, .b, .c{
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5rem;


}
.d,.e {
    padding: .8rem;
}
.d div{
    padding-bottom: 1rem;
}
.e div{
    padding-bottom: 1rem;
}
.da, .ea{
    color: gray;
    padding-bottom: 1rem;
}
.f{
    padding: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.f a{
    color: red;
    text-decoration: none;
    border: 1px solid red;
    padding: 5px 10px;
    transition: .4s;
    cursor: pointer;
}
.f a:hover{
    background: red;
    color: white;
}
.send-butt{
    border: 1px solid rgb(0, 174, 255);
    color: rgb(0, 174, 255);
    padding: 5px 10px;
    background: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}
.send-butt:hover{
    color: white;
    background: rgb(0, 174, 255);
}
.reset{
    border: 1px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    padding: 5px 10px;
    background: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}
.reset:hover{
    color: white;
    background: rgb(255, 145, 0);
}







@media (max-width: 580px){
    iframe{
        width: 350px;
    }
}