*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}
.hero-page{
    min-height: 100vh;
    max-width: 100vw;
}
.back-to-top-button{
    position: fixed;
    height: 50px;
    width: 50px;
    background: rgb(243, 158, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin: 1rem;
    margin-bottom: 3rem;
    transition: .5s;
    opacity: 1;
}
.back-to-top-button-active{
    position: fixed;
    height: 50px;
    width: 50px;
    background: rgb(243, 158, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin: 1rem;
    margin-bottom: 3rem;
    opacity: 0;
    transition: .5s;
}
.top-button{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.header{
    display: flex;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.452);
    padding: 1rem;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
    transition: ease-in-out .5s;
    box-sizing: border-box;
}
.header-scroll{
    display: flex;
    position: fixed;
    top: 0;
    background: rgba(255, 196, 0, 0.897);
    padding: 1rem;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 100;
    box-shadow:  5px 0 5px rgb(255, 196, 0);
    transition: ease-in-out .5s;
}
.header-navs{
    display: flex;
    align-items: center;
}
.header-button a{
    border:  2px solid #ffffff;
    padding: 10px 20px;
    background: transparent;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 0 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: .5s;
    white-space: nowrap;
    color: white;
}

.header-button a:hover{
    background: white;
    color: gray;
}
.header-button button:hover{
    color: rgb(0, 0, 0);
}
.web-title-container{
    display: flex;
    align-items: center;
}
.web-logo{
    width: 3.5rem;
    margin: 1rem;
    transition: all .5s;
}
.web-title{
    border-left: 5px solid rgb(255, 255, 255);
    padding-left: .5rem;
    overflow: hidden;
}
.title{
    transform: translateX(-220px);
    transition: all .5s;
}
.header:hover .title{
    transform: translateX(0);
    transition: all .5s;
}
.header:hover .web-logo{
    transform: rotate(360deg);
}
.header-scroll:hover .title{
    transform: translateX(0);
    transition: all .5s;
}
.header-scroll:hover .web-logo{
    transform: rotate(360deg);
}
.list-container{
    display: flex;
    list-style: none;
    text-align: right;
    z-index: 10;
}
.navs{
    display: flex;
    
}
.navs li a{
    color: white;
}
.list-item{
    padding: .5rem;
}
.list-item a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
.list-item::after{
    content: '';
    height: 2px;
    width: 0;
    display: block;
    margin: auto;
    background: rgb(78, 78, 78);
    transition: .5s;
}
.list-item:hover::after{
    width: 100%;
}
.fa-solid{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.hero-content{
    min-height: 100vh;
    max-width: 100%;
    background: linear-gradient(rgba(0,9,30,0.7), rgba(0,9,30,0.7)), url(images/bgto.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.hero-title{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10rem;
    padding: 10rem 4rem 0 4rem;
}
.hero-title h1 {
    color: white;
    font-size: 2.8rem;
}
.hero-title h1 span{
    color: rgb(255, 196, 0);
}
.atansub-title{
    color: white;
    margin-top: 2rem;
}
.hero-button-container{
    margin-top: 1rem;
}
.hero-button-container a{
    border: 1px solid orange;
    text-decoration: none;
    border-radius: 3px;
   background: orange;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: ease-in .2s;
}
.hero-button-container a:hover{
    background: rgb(255, 255, 255);
    color: orange;
}
.hero-cards-container{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    max-width: 100vw;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 1.5rem;
}
.hero-card{
    background: rgba(0, 0, 0, 0.418);
    color: white;
    width: 400px;
    min-width: 300px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 10px;
    height: 100px;
    line-height: 1.5rem;
}

.hero-card span a{
    color: orange;
    text-decoration: underline;
    white-space: nowrap;
}
.offer-page{
    min-height: 100vh;
    background: linear-gradient(rgba(9, 7, 30, 0.815),rgba(9, 7, 30, 0.8)), url(images/form.jpg) no-repeat;
    color: white;
    max-width: 100vw;
    padding-bottom: 2rem;
    background-position: center;
    background-size: cover;
    z-index: 150;
}
.offer-title{
    text-align: center;
    padding: 3rem 0 1rem 0;
    margin-bottom: 5rem;
    border-bottom: 2px solid rgb(255, 196, 0);
}
.offer-title h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.formation-offer{
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: center;
}


.formation-content h1{
    color: rgb(255, 196, 0);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}
.formation-content{
    max-width: 510px;
    border: 2px solid rgb(255, 196, 0);
    padding: 2rem 1rem 2rem 1rem;
    padding-bottom: 1rem;
}
.formation-content p{
    line-height: 2.3rem;
    text-transform: lowercase;
    font-size: 1.1rem;
    margin: 0 10px 0 10px;
}
.formation-button-subscription{
    display: flex;
    justify-content: center;padding-top: 2rem;
}
.suscription-button{
    background: rgb(243, 186, 0);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    margin-top: .8rem;
}
.suscription-button:hover{
    background: rgb(255, 153, 0);
}

.team-page{
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.team-title-container{
    text-align: center;
    line-height: 3rem;
}
.team-title-container h1{
    color: rgb(255, 196, 0);
    font-size: 2.5rem;
}
.team-title-container p{
    color: rgb(173, 173, 173);
}
.team-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-card{
    width: 370px;
    text-align: center;
    padding: 30px;
}
.card-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 5px gray;
}
.card-title{
    margin-top: 1rem;
    margin-bottom:1.5rem;
    line-height: 2.5rem;
}
.card-title h1{
    color: rgb(255, 153, 0);
    font-size: 1.8rem;

}
.card-title p{
    color: rgb(173, 173, 173);
}
.card-content{
    line-height: 1.5rem;
    color: rgb(80, 80, 80);
}
.card-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.card-social a{
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
}
.work-with-us{
    padding: 1rem;
    text-align: center;
}
.work-with-us p{
    color: rgb(173, 173, 173);
    font-size: 14px;
    margin-bottom: 2rem;
}
.work-with-us a{
    padding: 10px 20px;
    border: none;
    color: white;
    background: rgb(243, 186, 0);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.footer{
    min-height: 50vh;
    background: rgb(255, 255, 255);
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.location-info{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 3rem;
}
.contact-footer{
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: rgb(90, 90, 90);
}
.about-us-footer{
    color: rgb(90, 90, 90);
    max-width: 400px;
    padding: 3rem;
    color: rgb(90, 90, 90);
    line-height: 2rem;
}
.location{
    display: flex;
    width: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    align-items: center;
    column-gap: 1rem;
}
.location-icon{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(221, 221, 221);
    border-radius: 28px;
    color: rgb(131, 131, 131);
    font-size: 1.6rem;
}
.location-text{
    color: rgb(90, 90, 90);
}
.phone-number{
    color: rgb(90, 90, 90);
}
.support-link{
    color: rgb(243, 186, 0);
}
.usefull-links{
    height: 320px;
    padding: 3rem;
}
.usefull-links h1{
    color: rgb(90, 90, 90);
    margin-bottom: 2rem;
}
.usefull-links li{
    list-style: none;
    margin-bottom: 1rem;
}
.usefull-links a{
    color:rgb(90, 90, 90);
    text-decoration: underline;
    font-size: 1.2rem;
}
.footer-social{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
.sc{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(243, 186, 0);
    font-size: 1.7rem;
}
.sc a{
    color: gray;
}

.scurity-licence{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    padding-bottom: 2rem;
}

@media (max-width: 750px){
    .web-logo{
        width: 3rem;
        margin: 1rem;
        transition: all .5s;
    }
    .formation-image img{
        width: 300px;
    }
    .title{
        font-size: 1.5rem;
    }
    .list-container{
        position: absolute;
        top: 0;
        right: -240px;
        width: 240px;
        height: 100vh;
        background:rgba(7, 12, 41, 0.952);
        z-index: 3;
        flex-direction: column;
        align-items: center;
        text-align: left;
        border-left: 1px solid gray;
        transition: ease-in-out .3s;
    }
    .list-container:first-child{
        align-items: flex-start;
    }
    .fa-solid{
        display: block;
        padding-left: 20px;
    }
    .xcontainer{
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
    }
    .xcontainer i{
        color: white;
    }
    .navs{
        flex-direction: column;
        margin-left: 2rem;
    }
    .navs li a{
        color: white;
    }
    .navs li{
        margin-top: 1rem;
    }
    .hero-title h1 {
        color: white;
        font-size: 2rem;
    }
    .hero-title {
        padding: 10rem 1rem 0 1rem;
    }
}
@media (max-width: 518px){
    .header-button a{
        display: none;
    }
    .fa-solid{
        display: block;
        
    }
}